modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["openssl"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram UserBot"

[[workflows.workflow]]
name = "Telegram UserBot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000
